
      a{
        color:black;
        text-decoration: none;
      }
    
      h1{
        text-align: center;
        font-size: 40px;
        border-bottom: 1px solid gray;
        padding: 20px;
        margin: 0;
      }
      h3{
        text-align: center;
        color: darkgoldenrod;
        border: 5px green solid;
        padding: 10px;
        margin: 5px;
        width: 80px;
      }

      iframe{
        border: 1px green solid;
      }

      ol{
        border-right:1px solid gray;
        width:120px;
        margin:0;
        padding:20px;
      }
      #grid{
        display: grid;
        grid-template-columns: 150px 1fr;
      }
      @media(max-width:800px){
        #grid{
          display:block;
        }
        ol{
          border-right: none;
        }
      }
